# Node modules
node_modules/
# credentials
**/credentials*
**/secrets*
*.pem
*.key

.vscode/
out/
public/
dist/

.env*
.flaskenv*
!.env.project
!.env.vault

**/*.js
**/*.map
!webpack.*.js
**/*.bundle.js.br
**/*.bundle.js.gz
**/*.txt
public/*.css
**/*.css.br
**/*.css.gz
**/*.css

!stylesheets/*.css
!**/stylesheets/*.css
!**/constants.js
Server/.server
*.rdb
!clientserver/constants.js

*.d.ts
!*constants.d.ts
!**/allConstants.js
!allConstants.d.ts
public/*
out/*

.vscode/