input[type="file"] {
    display: none;
}

.file-upload-form {
    width: 90%;
    height: 100%;
    margin: 10px;
}

#upload-image {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    object-fit: cover;
    grid-column: 1;
    grid-row: 1;
}

#file-drag {
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.upload-container {
    position: relative;
    left: -100px;
}

#upload-image-mask {
    display: none;
    grid-column: 1;
    grid-row: 1;
    z-index: 5;
    opacity: 0.5;
    background-color: green;
    animation:.5s infinite alternate running animate-properties linear;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

@keyframes animate-properties {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.file-lister-icon {
    width: 15px;
    height: 5px;
    object-fit: cover;
    grid-column: 1;
    grid-row: 1;
    margin-left: 8px;
}

.file-lister-icon:hover {
    cursor: crosshair;
}

.file-group {
    position: relative;
    top: -15px;
    left: -10px;
    display: grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 5px 5px 5px;
    grid-gap: 3px;
}

.file-modal-content span{
    color: red;
    font-size: 20px;
    position: relative;
    right: -10px;
}

.file-modal-content img {
    width: 25px;
    height: 25px;
}

.file-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.file-modal {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: white;
    left: 30vw;
    height:fit-content;
    width: 40vw;
    border: solid blue;
    border-radius: 10px;
}

#upload-image-group {
    display: grid;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-template-columns: 1fr;
}

.delete-dialog {
    display: none;
    position: absolute;
    z-index: 10;
    background-color: white;
    left: 30vw;
    padding: 10px;
    height:fit-content;
    width: 40vw;
    border: solid red;
    border-radius: 20px;
}

.delete-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delete-dialog-content span {
    font-size: 25px;
    font-weight: bolder;
    color: red;
    position: relative;
    right: -180px;
}

.delete-dialog-content button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(226, 152, 152);
    color: white;
    font-size: 15px;
}