**/__pycache__/
.gitignore
**/logs/
**/*.log
**/*.tsx
tsconfig.json
.npmignore
.nvmrc
.stylelintrc
**/venv
/venv
venv
**/*.venv
/.venv
.venv

.env*
.flaskenv*
!.env.project
!.env.vault
!.env.me
!.env.keys

**/test*